%h1
  Which Shift Button?

- if @cookie
  %p
    Left Count:
    = REDIS.get('left_count')
  %p
    Both Count:
    = REDIS.get('both_count')
  %p
    Right Count:
    = REDIS.get('right_count')
    
- else
  = link_to "Left", press_path(:button => "left"), :method => :post
  |
  = link_to "Both", press_path(:button => "both"), :method => :post
  |
  = link_to "Right", press_path(:button => "right"), :method => :post
